@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2>Welcome</h2>
    <h6>To</h6>
    <h1 class ="display-2">
        <strong>CyberDyne Inc</strong>
   </h1>
   <hr />
   <section>
        <div class="row">
            <div class="col">
                Call us at: +1 (513)765-4321
            </div>
            <div class="col">
                Email address:  <a href="mailto:weareawesome@cyberdyne.com">weareawesome@cyberdyne.com</a>
            </div>
            <div class="col">
                Address: 2906 Woodside Drive, Cincinnati, OH 45221
            </div>
   </section>
   <hr />
   <section>
    <h1 class="display-6">
        <strong>Services Offered</strong>
    </h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="./stra.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Strategy</h5>
                    <p class="card-text">
                        CyberDyne provides strategy development and implementation services.
                    </p>
                </div>
                </div>
            </div>
        <div class="col">
            <div class="card h-100">
                <img src="./diti.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Digital Transformation</h5>
                    <p class="card-text">
                        CyberDyne offers digital transformation and optimization services
                    </p>
                </div>
            </div>
        </div>
            <div class="col">
                <div class="card h-100">
                    <img src="./tech.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Technology</h5>
                    <p class="card-text">CyberDyne provides technology implementation and management services</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="./opera.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Operations</h5>
                    <p class="card-text">CyberDyne offers operations improvement and optimization services</p>
                    </div>
                </div>
            </div>
        <div class="col">
            <div class="card h-100">
                <img src="./cybsec.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cybersecurity</h5>
                    <p class="card-text">CyberDyne offers cybersecurity and risk management services</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="./supply-chain-management.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Supply chain</h5>
                    <p class="card-text">CyberDyne offers supply chain and logistics optimization services</p>
                </div>
            </div>
        </div>
        </div>
    <hr />
    </section>
    <section>
        <h1 class="display-6">
            <strong>We are leading in..</strong>
        </h1>
        <br>
        <div class="row" >
            <div class="col" style="text-align: left">
                <h3>Consulting</h3>
            </div>
            <div class="col" style="text-align: left">
                <h3>Providing Software Services and Solutions</h3>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: left">
                <h3>Cloud Services Management</h3>
            </div>
            <div class="col" style="text-align: left">
                <h3>Automation Solutions</h3>
        </div>
        </div>
    </section>
    <hr />
    <br />

    <section>
        <h1 class="display-6">
            <strong>Testimonials</strong>
        </h1>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">H&M</h5>
                    <small>3 years ago</small>
                </div>
                <p class="mb-1"><i>"CyberDyne helped us navigate a complex digital transformation. Their team was knowledgeable, proactive, and always focused on delivering value. Our collaboration with CyberDyne resulted in improved operational efficiency and a better customer experience."</i></p>
                <small>- Jane Doe</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Banco Sabadell</h5>
                    <small class="text-body-secondary">1 year ago</small>
                </div>
                <p class="mb-1"><i>"Working with CyberDyne on our AI integration project was a game-changer. Their expertise in technology and deep understanding of our industry made the entire process seamless. We are now more agile and data-driven than ever before."</i></p>
                <small class="text-body-secondary">- César González-Bueno</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Future Generali
                    </h5>
                    <small class="text-body-secondary">5 years ago</small>
                </div>
                <p class="mb-1"><i>"CyberDyne's ability to bring innovative solutions to our healthcare network was impressive. They were able to reduce costs while improving the quality of patient care, thanks to their experience and strategic approach."</i></p>
                <small class="text-body-secondary">- Anup Rau</small>
            </a>
        </div>
    </section>
    <br />
    <section>
        <h1 class="display-6">
            <strong>How to be part of our family</strong>
        </h1>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./hiring.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./createAcc.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./mrbean-sign-me-up.gif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./skills.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./interview.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./hired.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</div>
