@page
@model PrivacyModel
@{
    ViewData["Title"] = "Our Team";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Meet Our Team</h2>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="./me.jpeg" class="card-img-top" alt="Team Member 1">
                <div class="card-body text-center">
                    <h5 class="card-title">Deepika Srivastava</h5>
                    <p class="card-text">Founder & CEO</p>
                    <p>I bring over 7 years of software development and solutions. Ace in Project management skills to engage with our dynamic teams. Passionate about leveraging data analysis technology to deliver precise solution to the businesses.</p>
                    <a target="_blank" href="https://www.linkedin.com/in/deepika-ambekar?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B0cRWWukeSr%2B8k918bYCZVA%3D%3D" class="btn btn-outline-primary">LinkedIn</a>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="./rob.jpeg" class="card-img-top" alt="Team Member 2">
                <div class="card-body text-center">
                    <h5 class="card-title">Vishal Stark</h5>
                    <p class="card-text">Head of Recruitment</p>
                    <p>Vishal has over 15 years of experience in recruiting and HR management. He is an expert in building efficient recruitment pipelines and matching the right people to the right jobs.</p>
                    <a href="#" class="btn btn-outline-primary">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="./wick.jpeg" class="card-img-top" alt="Team Member 3">
                <div class="card-body text-center">
                    <h5 class="card-title">Beau Wick</h5>
                    <p class="card-text">Marketing Specialist</p>
                    <p>Beau is a marketing strategist with a knack for crafting compelling narratives that attract both clients and candidates. He manages our brand presence across multiple platforms.</p>
                    <a href="#" class="btn btn-outline-primary">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<ul class="list-group list-group-flush">
    <li class="list-group-item">We are: </li>
    <li class="list-group-item">Spread accross the globe in 69+ countries</li>
    <li class="list-group-item">A family of 15000+ happy employees</li>
    <li class="list-group-item">Proud rank holder in list of Fortune 500 companies</li>
    <li class="list-group-item">A environmental friendly company</li>
    <li class="list-group-item">Awarded "Great Place to Work" in 2023</li>

</ul>
